.companions {
  position: relative;
  z-index: 8;
  margin-top: -30px;
  padding-top: 100px;
  padding-bottom: 30px;

  background-color: $darkblue-light;
}

.companions__layout {
  padding-top: 0;
  padding-right: 25px;
  padding-bottom: 0;
  padding-left: 25px;
}

.companions__text-box {
  margin-bottom: 56px;
  padding-left: 25px;
  padding-right: 25px;
}

.companions__headline {
  margin: 0;
  margin-bottom: 18px;
}

.companions__text {
  margin: 0;
  margin-bottom: 18px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.companions__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.companions__item {
  position: relative;
  z-index: 0;
  width: 100%;
  background-color: $white;
  border-radius: 10px;
  overflow: hidden;

  &--inner {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-left: 20px;
  }

  &-text {
    z-index: 1;
  }
}

.companions__link {
  margin: 0;
  // margin-bottom: 16px;
  text-decoration: none;
  color: $darkblue-lightest;
}

.companions__name {
  margin: 0;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
}

.companions__tags {
  margin-bottom: 16px;
}

.companions__subscribers {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: uppercase;
  color: $darkblue;
}

.companions__section-name {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $darkgrey;
}

.companions__avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 285px;
  width: 100%;
}

.companions__btn {
  margin-top: 20px;

  &--desktop {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
