.continent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.continent__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.continent__link {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparentize($darkblue-light, 0.7);

  &:hover,
  &:focus {
    color: transparentize($darkblue-light, 0.4);
  }

  &--active {
    color: $darkblue-light;
  }
}

@media screen and (min-width: 768px) {
  .continent__link {
    font-size: 20px;
    line-height: 24px;
  }
}
