.countries {
  margin: 0;
  padding: 0;
  list-style: none;
}

.countries__item {
  margin-bottom: 4px;

  &:last-child {
    margin-bottom: 0;
  }
}

.countries__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: $darkgrey;

  &:hover,
  &:focus {
    color: transparentize($darkgrey, 0.4);
  }

  &:active {
    color: transparentize($darkgrey, 0.7);
  }
}

@media screen and (min-width: 768px) {
  .countries__link {
    font-size: 20px;
    line-height: 30px;
  }
}
