.date-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  // border: 1px solid $lightestblue;

  & tbody {
    width: 100%;
  }
}

.date-table__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.date-table__col {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 7);
  margin: 0;
  padding: 7px 8px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: transparentize($darkgrey, 0.7);
  border: 1px solid $lightestblue;
}

.date-table__head {
  padding-bottom: 5px;
  color: $darkgrey;
  border: none;

  &--weekend {
    color: $orange-darkest;
  }
}

.date-table__actual {
  color: $darkgrey;
  background-color: $lightblue;
}

.date-table__selected {
  color: $white;
  background-color: $darkblue-lightest;
}

.date-table__active {
  border: 1px solid $orange-darkest;
  box-shadow: inset 0 0 0 1px $orange-darkest;
}

@media screen and (min-width: 768px) {
  .date-table__col {
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }

  .date-table__head {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

    &:nth-child(1)::after {
      content: "н";
    }

    &:nth-child(2)::after {
      content: "т";
    }

    &:nth-child(3)::after {
      content: "р";
    }

    &:nth-child(4)::after {
      content: "т";
    }

    &:nth-child(5)::after {
      content: "т";
    }

    &:nth-child(6)::after {
      content: "б";
    }

    &:nth-child(7)::after {
      content: "с";
    }
  }

  .date-table__active {
    box-shadow: inset 0 0 0 3px $orange-darkest;
  }
}

@media screen and (min-width: 1440px) {
  .date-table__col {
    height: 72px;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 14px 16px;
  }

  .date-table__head {
    border: 1px solid transparent;
  }
}
