.directions {
  padding-top: 100px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;

  background-color: $lightblue;
}

.directions__headline {
  margin: 0;
  margin-bottom: 18px;
  padding-right: 25px;
  padding-left: 25px;
}

.directions__text {
  padding-right: 25px;
  padding-left: 25px;
}

.directions__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  list-style: none;
}

.directions__item {
  width: 100%;
  background-color: $white;
  border-radius: 10px;
}

.directions__holder {
  padding: 25px;
}

.directions__country {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  color: $darkblue;
}

.directions__slogan {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: $darkgrey-tr;
}

.directions__rating {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: $darkgrey-tr;
}

.directions__btn {
  margin-top: 30px;
}
