.inner-page {
  background-color: $lightblue;
}

.inner-page__header {
  position: relative;
  z-index: 20;
  overflow: visible;
  border-radius: 0 0 20px 20px;
}

.inner-page__footer {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .inner-page__header {
    border-radius: 0 0 50px 50px;
  }

  .inner-page__footer {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .inner-page__header {
    background-color: $darkblue;
  }

  .inner-page__footer {
    margin-top: 75px;
  }
}
