.navigation {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;

  &--top {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &--drop {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.navigation__item {
  text-align: center;
}

.navigation__link {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 36px;
  color: $darkblue-light;

  // &--top {
  //   color: $white;
  // }

  &--scroll {
    color: $darkblue-light;
  }
}

.navigation__link--top {
  display: inline-block;
  color: $white;
  overflow: hidden;

  &:hover .navigation__link--top-span,
  &:focus .navigation__link--top-span {
    transform: translateY(-100%);
  }

  &:active .navigation__link--top-span::before {
    color: transparentize($yellow, 0.7);
  }
}

.navigation__link--top-span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;

  &::before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    color: $yellow;
  }
}


@media screen and (min-width: 768px) {
  .navigation__link {
    font-size: 60px;
    line-height: 70px;

    &--top {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
