.our-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 135px;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.our-socials__item {
  flex-basis: 45px;
}

.our-socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  box-sizing: border-box;
  border-radius: 50%;
}

.our-socials__link--yellow {
  background-color: $yellow;

  &:hover,
  &:focus {
    background-color: $darkblue-light;
  }

  &:hover path,
  &:hover circle,
  &:focus path,
  &:focus circle {
    fill: $white;
  }

  &:active path,
  &:active circle {
    fill: transparentize($white, 0.7);
  }
}

.our-socials__icon {
  display: inline-block;
  width: 21px;
  height: 21px;

  &--grey path {
    fill: $grey;
  }

  &--grey circle {
    fill: $grey;
  }

  &--blue path {
    fill: $darkblue-light;
  }

  &--blue circle {
    fill: $darkblue-light;
  }

  &--facebook {
    width: 11px;
    height: 21px;
  }

  &--vkontact {
    width: 23px;
    height: 12px;
  }

  &--instagram {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 768px) {
  .our-socials {
    width: 180px;
    margin: 0;
  }

  .our-socials__item {
    flex-basis: 60px;
  }

  .our-socials__link {
    height: 60px;
  }

  .our-socials__icon {
    width: 24px;
    height: 24px;

    &--facebook {
      width: 14px;
      height: 28px;
    }

    &--vkontact {
      width: 31px;
      height: 16px;
    }

    &--instagram {
      width: 24px;
      height: 24px;
    }
  }
}
