.our-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.our-contacts__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.our-contacts__link {
  position: relative;
  display: block;
  padding-top: 12px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 60px;
  box-sizing: border-box;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $darkblue;

  &:hover,
  &:focus {
    color: $darkestblue;
  }

  &:hover .our-contacts__icon--yellow-blue path,
  &:focus .our-contacts__icon--yellow-blue path {
    fill: $orange-lightness;
  }

  &:active {
    color: transparentize($darkblue, 0.7);
  }

  &:active .our-contacts__icon--yellow-blue path {
    fill: transparentize($yellow, 0.7);
  }
}

.our-contacts__icon {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-top: -22.5px;

  border-radius: 50%;

  svg {
    display: block;
  }
}

.our-contacts__phone {
  width: 18px;
  height: 18px;
}

.our-contacts__mail {
  width: 18px;
  height: 13px;
}

.our-contacts__icon--yellow-blue {
  background-color: $darkblue;

  path {
    fill: $yellow;
  }
}

.our-contacts__icon--yellow-darkblue {
  background-color: $darkestblue;

  path {
    fill: $yellow;
  }
}

.our-contacts__icon--blue-yellow {
  background-color: $orange-lightness;

  path {
    fill: $darkblue;
  }
}

.our-contacts__icon--blue-orange {
  background-color: $orange;

  path {
    fill: $darkblue;
  }
}

@media screen and (min-width: 768px) {
  .our-contacts__link {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 90px;
    font-size: 28px;
    line-height: 28px;
  }

  .our-contacts__icon {
    width: 68px;
    height: 68px;
    margin-top: -34px;
  }

  .our-contacts__phone {
    width: 27px;
    height: 27px;
  }

  .our-contacts__mail {
    width: 27px;
    height: 20px;
  }
}

@media screen and (min-width: 1440px) {
  .our-contacts__link {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 120px;
  }

  .our-contacts__icon {
    width: 90px;
    height: 90px;
    margin-top: -45px;

    &--top {
      width: 50px;
      height: 50px;
      margin-top: -25px;
    }
  }

  .our-contacts__phone {
    width: 36px;
    height: 36px;
  }

  .our-contacts__mail {
    width: 36px;
    height: 26px;
  }

  .our-contacts__phone--top {
    width: 18px;
    height: 18px;
  }

  .our-contacts__mail--top {
    width: 18px;
    height: 14px;
  }
}
