.pick-companion {
  padding: 0 25px;
  margin-bottom: 28px;
}

.pick-companion__bg {
  padding: 20px 25px;
  background-color: $yellow;
  border-radius: 10px;
}

.pick-companion__headline {
  margin: 0;
  margin-bottom: 20px;
  font-size: 23px;
  font-weight: 700;
  line-height: 23px;
  color: $darkblue-lightest;
}
