.sign-in {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
  box-sizing: border-box;
  background-color: $darkblue-light;
}

.sign-in__text {
  padding-right: 45px;
  padding-left: 45px;
  text-align: center;
}

.sign-in__link {
  color: $yellow;

  &:hover,
  &:focus {
    color: $orange;
  }

  &:active {
    color: $orange;
    opacity: 0.3;
  }
}

.sign-in__our-contacts-link {
  color: $yellow;

  &:hover,
  &:focus {
    color: $orange-lightness;
  }

  &:hover path,
  &:focus path {
    fill: $orange-lightness;
  }

  &:active {
    color: transparentize($orange-lightness, 0.7);
  }

  &:active path {
    fill: transparentize($orange-lightness, 0.7);
  }
}
