.step-1__headline {
  margin: 0;
  margin-bottom: 16px;
}

.step-1__num {
  display: block;
}

.step-1__input-hover {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.step-1__paragraph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 18px;
}

.step-1__child-box {
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.step-1__label {
  display: flex;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 18px;
  text-transform: uppercase;
  color: $darkblue-lightest;
}

.step-1__people {
  &::after {
    content: "Чел.";
    margin-left: auto;
    color: transparentize($darkblue-lightest, 0.7);
  }
}

.step-1__days {
  &::after {
    content: "Дн.";
    margin-left: auto;
    color: transparentize($darkblue-lightest, 0.7);
  }
}

.step-1__child {
  position: relative;
  margin: 0;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  color: $darkgrey;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 26px;
    height: 26px;
    margin-top: -16px;
    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border: 1px solid $lightestblue;
    border-radius: 3px;
  }
}

.step-1__check:checked + .step-1__child::before {
  background-image: url("../img/tick.svg");
}

.step-1__month-slider {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .step-1__headline {
    margin-bottom: 30px;
  }

  .step-1__input-hover {
    margin-bottom: 60px;
  }

  .step-1__paragraph {
    margin-bottom: 0;

    &:nth-child(2) {
      order: 1;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .step-1__label {
    margin: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
    line-height: 20px;
    border-top: 1px solid $darkestasphalt;
  }

  .step-1__child {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 58px;
    border: none;
    color: $darkblue-lightest;

    &::before {
      width: 36px;
      height: 36px;
      margin-top: -19px;
      background-size: 35%;
    }
  }
}

@media screen and (min-width: 1440px) {
  .step-1__input-hover {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-top: 30px;
    border-top: 1px solid $darkestasphalt;
  }

  .step-1__paragraph {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 480px;
    margin-bottom: 14px;

    &:nth-child(2) {
      margin-bottom: 0;
    }
  }

  .step-1__child-box {
    justify-content: flex-end;
  }

  .step-1__label {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 20px;
    line-height: 35px;
    letter-spacing: 2px;
    border: none;

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      width: 40px;
      height: 35px;
      margin-top: -17.5px;
      color: $darkblue-lightest;
    }
  }

  .step-1__input-box {
    position: absolute;
    width: 181px;
    right: 64px;
  }

  .step-1__child {
    width: auto;
    font-weight: 500;

    &::before {
      margin-top: -21px;
    }
  }
}
