.subscribers {
  position: relative;
  z-index: 1;
}

.subscribers__item-btn {
  @include visually-hidden;
  transition: all 0.3s;
}

.subscribers__like {
  position: absolute;
  bottom: 4px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  padding-right: 0.6px;
  background-color: $lightblue;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;

  &::before {
    content: "";
    width: 31px;
    height: 31px;
    background-image: url("../img/heart.svg");
    background-position: 56% 56%;
    background-repeat: no-repeat;
    background-size: 50%;
    border-radius: 50%;
    opacity: 0.3;
    transition: all 0.3s;
  }

  &--active {
    background-color: $lightestpink;
  }

  &--active::before {
    background-image: url("../img/heart-active.svg");
    opacity: 1;
  }

  &:hover {
    background-color: $asphalt;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--active:hover {
    background-color: $lightestpink-darker;
  }

  &--active:active::before {
    opacity: 0.3;
  }
}


@media screen and (min-width: 768px) {
  .subscribers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .subscribers__item-btn {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    padding: 7px;
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 7px;
    clip: auto;
    overflow: visible;
  }

  .subscribers__like {
    position: static;
    bottom: auto;
    left: auto;
    // display: inline-block;
    width: 50px;
    height: 50px;
    padding-right: 1px;

    &::before {
      width: 50px;
      height: 50px;
      background-size: 50%;
    }
  }

  .subscribers__amount {
    margin-left: 7px;
    padding-top: 5px;
  }
}
