.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 11px;
  // padding: 31px 26px;
  box-sizing: content-box;
  background-color: transparent;
  border: none;
  padding: 0;
}

.toggle__menu {
  width: 100%;

  & path {
    fill: $white;
  }

  &--scroll path {
    fill: $grey;
  }
}

.toggle__menu-close {
  display: none;
  width: 100%;

  & path {
    fill: $grey;
  }
}

.toggle--active {
  width: 18px;
  height: 18px;
  padding: 27.5px 29.5px;

  .toggle__menu {
    display: none;
  }

  .toggle__menu-close {
    display: block;
  }
}

@media screen and (min-width: 1440px) {
  .toggle {
    width: 60px;
    height: 2px;
    background-color: $white;

    &__menu {
      display: none;
    }

    &__menu-close {
      display: none;
    }

    &--scroll {
      background-color: $darkblue-light;
    }
  }
}
