.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 11px;
  padding: 31px 26px;
}

.toggle__menu {
  width: 100%;
}

.toggle__menu path {
  fill: $white;
}

.toggle__menu--scroll path {
  fill: $grey;
}

.toggle__menu-close {
  display: none;
}

.toggle--active {
  width: 18px;
  height: 18px;
  padding: 27.5px 29.5px;
}

.toggle--active .toggle__menu {
  display: none;
}

.toggle--active .toggle__menu-close {
  display: block;
}
