.usecase {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.usecase__step {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;

  border-radius: 5px;
}

.usecase__step:nth-child(1) {
  background-color: $orange;
}

.usecase__step:nth-child(2) {
  background-color: $orange-light;
}

.usecase__step:nth-child(3) {
  background-color: $orange-lightness;
}

.usecase__step:nth-child(4) {
  background-color: $yellow;
}
