$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$whiteblue: rgba(243, 244, 248, 1);
$lightblue: rgba(237, 239, 246, 1);
$lightestblue: rgba(203, 206, 217, 1);
$asphalt: rgba(223, 227, 240, 1);
$darkasphalt0: rgba(200, 206, 232, 1);
$darkasphalt: rgba(209, 215, 233, 1);
$darkestasphalt: rgba(212, 217, 235, 1);
$grey: rgba(204, 204, 204, 1);
$darkgrey: rgba(68, 68, 68, 1);
$darkgrey-light: rgba(95, 96, 96, 1);
/*чтобы travis не ругался*/
$blue: rgba(19, 37, 118, 1);
$darkestblue: rgba(18, 25, 54, 1);
$darkblue: rgba(22, 28, 54, 1);
$darkblue-light: rgba(22, 33, 68, 1);
$darkblue-lightest: rgba(29, 46, 91, 1);
/*чтобы travis не ругался*/
$orange-darkest: rgba(255, 92, 35, 1);
$orange-dark: rgba(242, 105, 38, 1);
$orange: rgba(255, 141, 48, 1);
$orange-light: rgba(255, 165, 48, 1);
$orange-lightness: rgba(255, 189, 48, 1);
/*чтобы travis не ругался*/
$darkyellow: rgba(243, 199, 43, 1);
$yellow: rgba(255, 215, 75, 1);
$red: rgba(240, 35, 35, 1);
$lightpink: rgba(249, 118, 118, 1);
$lightestpink: rgba(249, 234, 234, 1);
$green: rgba(129, 227, 30, 1);
