$white: rgba(255, 255, 255, 1);
$white-tr: rgba(255, 255, 255, 0.3);
$black: rgba(0, 0, 0, 1);
$lightblue: rgba(237, 239, 246, 1);
$asphalt: rgba(223, 227, 240, 1);
$grey: rgba(204, 204, 204, 1);
$darkgrey: rgba(68, 68, 68, 1);
$darkgrey-tr: rgba(68, 68, 68, 0.3);
/*чтобы travis не ругался*/
$darkestblue: rgba(18, 25, 54, 1);
$darkblue: rgba(22, 28, 54, 1);
$darkblue-light: rgba(22, 33, 68, 1);
/*чтобы travis не ругался*/
$orange-dark: rgba(242, 105, 38, 1);
$orange: rgba(255, 141, 48, 1);
$orange-light: rgba(255, 165, 48, 1);
$orange-lightness: rgba(255, 189, 48, 1);
$orange-lightness-tr: rgba(255, 189, 48, 0.3);
/*чтобы travis не ругался*/
$yellow: rgba(255, 215, 75, 1);
